body {
  background-color:black;
  color:white;
  /* break words that get too long */
}
img, video, source {
  display:block;
  margin-left: auto; 
  margin-right: auto;
}
pre {
  display:inline;
}
a {
  color: #006400;
}
a:visited {
  color: grey;
}
li {
  margin: 10px 0;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.full_center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text_center {
  text-align: center;
}

.boxed {
  border: 2px solid white;
}

.hn_center {
  text-align:center;  
}


/* Used to give a page some centering and not take up full screen */
.wrapper {
  width: 70%;     /* specify a width! */
  margin: 0 auto; /* center */
}

.thin_wrapper {
  width: 50%;     /* specify a width! */
  margin: 0 auto; /* center */
}

.full_width {
  width: 100%;
}

.inverted {
  background-color:white;
  color:black;
}

.inverted_image {
  filter: invert(100%);
}

/* code blocks */
pre code {
  background-color: dimgrey;
  border: 1px solid green;
  display: block;
  padding: 10px;
}

/*center align items in table cells */
td {
  text-align:center;
  padding: 10px;
  border: 1px solid white;
}

table {
  border: 1px solid white;
}


/* when we are printing */

@media print {
  table {
    border: solid black !important;
  }
  td {
    border: solid black !important;
  }
}
/* line behind the header */

.line_behind {
  width: auto;
  position: relative;
  text-align: center
}

.line {
  content:" ";
  border-top: 3px solid white;
  position: absolute;
  width:100%;
  top: 50%;
  left: 0;
  z-index: -1;
}

.line_text {
  display:inline-block;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}

/* and then do */
/*<div class="line-behind"><span class="line"></span> <h3>Begin My Giving Journey</h3> </div>*/