.chord_window {
    position: relative;
    /*right: 30px;*/
    /*border: 3px solid #73AD21;*/
    text-align: center;
    height: 10%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

table {
    /* FULLSCREEN TABLE */
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 100%;
    text-align:center;
    border-collapse: collapse;
}

.fretted {
    background-color: blue !important;
}

.fret {
    background-color: #451004;
    transition: background-color 1000ms linear;
    user-select: none;
}

.notransition {
    transition: none !important;
}
