
fieldset {
    border: 4px solid white;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
    /*text-indent: -2em;*/
}

::selection {
    background-color: transparent;
    /*color: #000;*/
}

/*li { cursor: pointer; }*/