
html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body{ background-color:white; }

#canvas {
    position:fixed;
    border:1px solid red;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
