<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Section Name</title>
  <link rel="stylesheet" href="../css/styles.css">
  <style>
    body {
      margin: 10%;
    }
  </style>
</head>
<body>
<ul>
  <h1>math</h1>
  {% for post in collections.math  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}

  <h1>programming</h1>
  {% for post in collections.programming  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}

  <h1>software</h1>
  {% for post in collections.software  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}

  <h1>hardware</h1>
  {% for post in collections.hardware  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}


  <h1>lifestyle</h1>
  {% for post in collections.lifestyle  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}

  <h1>skateboard</h1>
  {% for post in collections.skateboard  %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
  <!-- <li>
    <h1><a href="general/general.html">general</a></h1>
  </li>
  <li>
    <h1><a href="math/math.html">math</a></h1>
  </li>
  <li>
    <h1><a href="hardware/hardware.html">hardware</a></h1>
  </li> -->
  <h3>other blogs</h3>
  <li>
    <a href="https://benknoble.github.io/reading/">ben knoble's site</a>
    <a href="http://kociemba.org/index.html">rubick's cube and geometry</a>
    <a href="https://www.statox.fr/#">statox site - has many nice projects to play around with</a>
    <a href="https://www.falstad.com/">cool physics simulations</a>
    <a href="https://tck.mn/">tckmn's site - programming, math, dancing</a>
    <a href="https://n3l50n.github.io/">friends site</a>
    <a href="https://setosa.io/ev/">math topics explained visually</a>
  </li>
</ul>
</body>
</html>
