/* larger size for reading */
.wrapper {
  width: 90%;
}

html, body {
  margin: 0;
  height: 100%;
  /* Makes sure no scrolling is allowed */
  /*overflow: auto;*/
}

.song_table tbody tr td  {
  /* width: 25%; */
  padding: 5px;
  table-layout: fixed;
}
